/*animacoes*/




body {
margin:0;
}
.container{
	display:flex;
	flex-direction:row;
	background:black;
	flex-wrap:wrap;

}
.container div{
	flex:1; /* serve para preencher o tamanho da tela automatico,pertence ao grupo 1 , e vai ser dividido entre os componentes desse grupo
	tambem significa a quantidade do tamanho dele, se eu colocar na propriedade flex=2, vai valer o dobro das outras divs*/
	
	width:350px;/* quero que cada div tenha 250 px, mas nao ira caber tudo na tela e o site vai cortar*/
	
	background:#616161;
	margin:10px;
	padding:10px;
	font-size:20px;
}