body {
 margin: 0;
 font-family: Arial;
 font-size:12px;
}

.topo{
	
	height:30px;
	width:auto;
	background:#333;
}
.topoint{
	
	width:100%;
	max-width:850px;
	height:30px;
	
	margin:auto;
	
}

.topleft{
	width: 50%;
	height:30px;
    float:left; 
    
}
.topleft ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
.topleft li{
	height:30px;
	line-height:30px;
	float: left;
	margin-left:8px;
	margin-right:8px;
}
.toprigth{
	width: 50%;
	height:28px;
    float:right; 
	text-align: right;
	margin-top:2px;
}
.topleft li a{
	
	text-decoration:none;
	color:white;
	
}
.topobusca{
	width:150px;
	height:20px;
	outline:0;
	margin-left:5px;
}
.toprigth a{
	float: right;
	
}
.toprigth input{
	float:right;
}
.topright img{
	
	margin-right: 3px;
}
